
@{
    ViewBag.Title = "Hello!";
}
<h2>Hello @Session["UserName"]</h2>
<div>
    @Html.ActionLink("Back to List", "Index", "Users")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


