
@{
    ViewBag.Title = "NotLoggedIn";
}


    <h2>Hello stranger!</h2>
    <p>If you want information about this page, you need an account!</p>

        <div class="row">
            <div class="col-md-2">
                <p><a class="btn btn-warning" href="http://localhost:60424/Accounts/Login">Here you can log in &raquo;</a></p>
            </div>
            <div class="col-md-2">
                <p><a class="btn btn-warning" href="http://localhost:60424/Accounts/Register">Here you can register &raquo;</a></p>
            </div>
        </div>


